# If pipenv fails with: TypeError: 'module' object is not callable
# Run: pipenv run pip install pip==18.0

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
green       = ">=2.16"
coverage    = ">=4.5"
mock        = ">=3.0"
pylint      = ">=2.3"

[packages]
requests    = ">=2.21"
coloredlogs = ">=10.0"
setuptools  = ">=41.0"

[requires]
python_version = "3.6"
