fire == 0.1.0 # https://github.com/google/python-fire
mock == 2.0.0
coloredlogs == 6.0 # https://github.com/xolox/python-coloredlogs
green == 2.7.3 # https://github.com/CleanCut/green
coverage == 4.3.4
requests == 2.13.0
setuptools == 34.3.2